<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="AllModules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
		<section name="ModelingModules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
		<section name="ExplorationModules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
		<section name="AnalysisModules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings configSource="Config\DefaultAppSettings.config" />
	<AllModules configSource="Config\AllModules.config" />
	<ModelingModules configSource="Config\ModelingModules.config" />
	<ExplorationModules configSource="Config\ExplorationModules.config" />
	<AnalysisModules configSource="Config\AnalysisModules.config" />
	<log4net configSource="Config\Log4net.config" />
</configuration>